html, body {
    padding: 0;
    margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden; 
}


table{ 
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  padding: 2vw;
  border-radius: 1em;
  border: 2px solid #e5dab6;
} 

center{
  display: block;
  text-align: -webkit-center;
}



tr, th, td{
  padding: 2vw;
  text-align: left;
}

input {
  background-color: #c4c3ca;
  color: #1f2029;  
}
